.navBar-and-body {
    display: flex;
}

.body-of-intro {
    background-color: #3b414d;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}